@import url("https://fonts.googleapis.com/css?family=Vidaloka|Amiri&display=swap");

#titleContainer {
  font-family: "Vidaloka", serif;
}

#storyContainer p {
  font-family: "Amiri", serif;
  padding: 2em;
  border-radius: 2ex;
  background: #eee;
  margin: auto;
  margin-bottom: 1ex;
  animation: expand 0.3s ease-out;
  hyphens: auto;
  opacity: 0.95;
}

#choicesContainer button {
  border-radius: 1ex;
  background: #eee;
  transition: 0.3s;
  margin-right: 1ex;
  margin-top: 1ex;


  animation: expand 0.3s ease-in-out;
}

#choicesContainer button:hover {
  background: #fff;
}

@keyframes expand {
  from {
    opacity: 0;
    transform: scale(0);
  }
}

body {
  max-width: 50em;
  margin-bottom: 5em;
  margin: auto;
}